/********* Seletor universal ********
*{
border: 1px solid red;

}
*/
/********* Seletor texto ********
h1{
    color: green;
}
*/
/********* Seletor de classe ********

p.verde {
    color: green;
}
*/
/********* Seletor de ID *******
#cabecalho {
    border: 1px solid blue;
}
*/
/********* Seletor de Filho ******
li>a {
    color:red;
    text-decoration: none;
}
*/
/********* Seletor de Filho *******
p a {
    color: green;
}
*/
/********* Seletor de irmao adjacente ******
h1+p{
    color: red;
}
*/
/********* Seletor de irmao geral ******
h1~p{
    color:
}
*/
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    padding: 5px 20px;
    background: url(../imagens/seta.png)no-repeat left center;

}
*/
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: url(../imagens/menu.png)no-repeat left bottom;
}

a:hover{
    background-position: right bottom;
    color: #fff;
}